<%= form_for(@playlist, :url => library_playlists_path(@library) , :remote => :true) do |f| %>

  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>


      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    
    <%= label_tag(:private, "Make Playlist Private?") %>
    <%= f.check_box :private %>
    <!-- "Public/Private" -->
    <%#= f.radio_button :private, "0" %>
    <%#= f.radio_button :private, "1" %>
  </div>

<!--     <div id="droppable">
      <h1 class="ui-widget-header">Playlist</h1>
      <div class="ui-widget-content">
        <ol>
          <li class="placeholder">Drag your music here</li>
        </ol>
      </div>
    </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>

    <!-- <ol id="sortable"> -->
      <%# @fruits.each do |fruit| %>
        <!-- <li> -->
          <%= render :partial => 'tracks', :locals => {:track => @tracks, :f => f} %>
          <%#= render :partial => 'fruits/fruit', :locals => { :fruit => fruit } %>
        <!-- </li> -->
      <%# end %>
    <!-- </ol> -->


<% end %>


