<%= form_for(@track, :url => library_tracks_path(@library) , :html => {:multipart => true, :remote => :true}) do |f| %>

  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span12">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="span12">
    <%= f.label :track_path %><br />
    <%= f.file_field :track_path %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
