<div class="wrap">
    <div class="content container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="icon-file-alt"></i>
                            Tracks In Library
                        </h4>
                    </header>
                    <div class="body">
                        <blockquote>
                            Column sorting, live search, pagination. Built with
                            <a href="http://www.datatables.net/" target="_blank">jQuery DataTables</a>
                        </blockquote>
                        <table id="datatable-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Album Artist</th>
                                <th>Title</th>
                                <th>Featured Artist</th>
                                <th>Album</th>
                                <th>Genre</th>
                                <th>Year</th>
                                <th>Length</th>
                                <th>Size</th>
                                <th>BPM</th>
                                <th width="30px"> </th>
                            </tr>
                            </thead>
                            <% @tracks.each do |track| %>
                            <tbody>
                            <tr>
                                <td><a href="<%= artist_path(track.album.artist.id) %>"><%= track.album.artist.name %></a></td>
                                <td><%= track.title %></td>
                                <td><%= track.artists.map{ |a| [a][0].name }.join(", ") %></td>
                                <td><%= track.album.name %></td>
                                <td><%= track.genre.name %></td>
                                <td><%= track.year %></td>
                                <td><%= track.length %></td>
                                <td><%= track.size %></td>
                                <td><%= track.bpm %></td>
                                <td><%= link_to 'Destroy', library_track_path(@library, track), :method => 'delete', data: { confirm: 'Are you sure?' } %></td>
                            <% end %>
                            
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

</body>