<% instance_variable_get("@#{params[:controller]}").each do |a| %>
<%# binding.pry %>
  <li class="span2">
    <% if instance_variable_get("@#{params[:controller]}") == @artists %>
    <a href='<%= artist_path(a.id) %>'>
      <div class="thumbnail">
        <% if a.artist_images.empty? %>
          <img src="img/10.jpg" alt="">          
          <% else %>
          <img src="<%= a.artist_images.first.image %>" alt="">
          <% end %>
        </a>
          <!-- <div class="caption"> -->
              <h6><%= a.name %></h6>
          <!-- </div> -->
      </div>
      <% else %>
        <a href="<%= album_path(a.id) %>">
          <div class="thumbnail">
              <img src="<%= a.image %>" alt="">
            </a>

               <div id="glass_wrapper">
                <span class="glass">
                  <div class="btn-group pull-right" data-id="<%= a.id%>" data-url="">
                    <a id="add_album" class="btn btn-mini icon-plus"></a>
                    <a class="btn btn-mini icon-wrench" href='<%= edit_album_path(a.id) %>'></a>
                  </div>
                  <div class="pull-left" data-id="<%= a.id%>" data-url="">
                    <a id="play_album" class="btn btn-mini icon-play-circle"></a>
                  </div>
                </span>
              </div>
              <!-- <div class="caption"> -->
                  <h6><%= a.name %></h6>
              <!-- </div> -->
          </div>
      <% end %>
    </a>
  </li>
<% end %>

