<% instance_variable_get("@#{params[:controller]}").each do |a| %>
<%# binding.pry %>
  <li class="span2">
    <% if instance_variable_get("@#{params[:controller]}") == @artists %>
    <a href='<%= artist_path(a.id) %>'>
      <div class="thumbnail">
        <% if a.artist_images.empty? %>
          <img src="img/10.jpg" alt="">          
          <% else %>
          <img src="<%= a.artist_images.first.image %>" alt="">
          <% end %>
          <!-- <div class="caption"> -->
              <h6><%= a.name %></h6>
          <!-- </div> -->
      </div>
      <% else %>
        <a href="<%= album_path(a.id) %>">
          <div class="thumbnail">
              <img src="<%= a.image %>" alt="">
              <!-- <div class="caption"> -->
                  <h6><%= a.name %></h6>
              <!-- </div> -->
          </div>
      <% end %>
    </a>
  </li>
<% end %>

