<!-- <div class="wrap"> -->
<!-- <div class="content container-fluid"> -->
    <!-- <div class="row-fluid"> -->
        <!-- <div class="span8"> -->
            <h2 class="page-title">Edit Artist <small>Form To Update Artists Attributes</small></h2>
        <!-- </div> -->
    <!-- </div> -->
    <div class="row-fluid">
        <div class="span6">
            <section class="widget">
<!--                 <header>
                    <h4><i class="icon-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
                </header> -->
                <div class="body">
                    <!-- <form id="user-form" class="form-horizontal label-left"
                          novalidate="novalidate"
                          method="put"
                          data-validate="parsley"> -->

                  <div id="droppable" class="row-fluid">
                    <div class="span4">
                      <div class="text-align-center">
                        <% if @artist.artist_images.empty? %>
                          <img src="img/10.jpg" alt="">          
                            <% else %>
                              <img src="<%= @artist.artist_images.first.image %>" alt="64x64" style="height: 112px;">
                            <% end %>                            
                           </div>
                          </div>
           
                        </div>
        
                        <fieldset>
                        <%= form_for(@artist) do |f| %>
                          <% if @artist.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

                              <ul>
                              <% @artist.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                            <legend class="section">Artist Info</legend>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Artist Images</label>
                                <div class="controls controls-row">
                                  <div class="field">
                                    <%= f.fields_for :artist_images do |builder| %>
                                      <%= render 'artist_image', f: builder %>
                                    <% end %>
                                    <%= link_to_add_fields '<button type="button" class="btn btn-success"><i class="icon-plus"></i></button>'.html_safe, f, :artist_images %>
                                  </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="description" class="control-label">Type of Artist</label>
                                <div class="controls">
                                  <%= select :artist_type, :linkaddress, [["Person","person"],["Group", "group"]] %>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="description" class="control-label">Type of Artist</label>
                                <div class="controls">
                                  <%= select :gender, :linkaddress, [["Male","male"],["Female", "female"]] %>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="stage-name">Stage Name</label>
                                <div class="controls controls-row">
                                      <%= f.text_field :name, :class => 'span8', :id => 'Name' %><!-- <button id="go" class="btn btn-primary"> Get Images </button> -->
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="first-name">First Name<span class="required">*</span></label>
                                <div class="controls controls-row">
                                  <%#= f.label :first_name %>
                                  <%= f.text_field :first_name, :class => 'span4', :id => 'First Name' %>
                                <!-- <label class="control-label" for="last-name">Last Name<span class="required">*</span></label> -->
                                  <%#= f.label :last_name %>
                                  <%= f.text_field :last_name, :class => 'span4', :id => 'Last Name'  %>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="biography">Biography<span class="required">*</span></label>
                                <div class="controls controls-row">
                                  <%= f.text_area :biography, :class => 'span10', :id => 'Last Name'  %>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="exp" class="control-label">Account expiration date</label>
                                <div class="controls">
                                    <input id="exp" class="input-block-level datepicker" type="text" name="exp" value="">
                                    <span class="help-block">Bootstrap datepicker</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="description" class="control-label">Birthday</label>
                                <div class="controls">
                                  <%= f.date_select :birthday, :class => 'input-block-level date-picker', :id => 'Birthday' %>
                                </div>
                            </div>

                        </fieldset>

                        <div class="form-actions ">
                            <!-- <button type="submit" class="btn btn-primary">Validate &amp; Submit</button> -->
                            <%= f.submit "Validate & Submit", :class => 'btn btn-primary offset3'%>
                            <button type="button" class="btn">Cancel</button>
                        </div>

                        <% end %>

                    <!-- </form> -->
                </div>
            </section>
        </div>

        <div id="results" class="span5" style="z-index:200">
          <!-- <div> -->
              <!-- <input id="artist" type="text" placeholder="Enter artist name ..." </input> -->
              <button id="go" class="btn btn-primary"> Get Images </button>
          <!-- </div> -->
          <!-- <section class="widget tiny"><div class="body"><div id="results"></div></div></section> -->
        </div>

    </div>
<!-- </div>
</div> -->


<script>
 $('.datepicker').datepicker({
     format: 'mm-dd-yyyy'
 });
</script>




