<%# binding.pry %>
<%#= javascript_include_tag "albums" %>
<div class="wrap">
<div class="content container-fluid">
    <div class="row-fluid hidden-print">
        <!-- <div class="span12"> -->
            <h2 class="page-title" style="position: relative; z-index: 3"><%= @artist.name %> </h2>
        <!-- </div> -->
    </div>
    <div class="row-fluid">
        <div class="span12">
            <section class="widget">
                <div class="body no-margin">
                  <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="active item">
                          <a href="/users/sign_up"><img src="<%= image_path('music-music-dj-wallpaper.jpg') %>"> </a>
                        </div>
                        <div class="item">
                          <a href="/users/sign_up"><img src="<%= image_path('02.jpg') %>"> </a>
                        </div>
                        <div class="item">
                          <a href="/users/sign_up"><img src="<%= image_path('03.jpg') %>"> </a>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                  </div>
                    <hr>
                    <a id="album_options" class="icon-wrench" href='<%= edit_artist_path(@artist.id) %>'></a>
    <div class="row-fluid">
      <div id="artist_tabs" class="span12">
        <section class="widget widget-tabs">
          <header>
            <ul class="nav nav-tabs offset4">
              <li class="active"><%= link_to "Albums", albums_artist_path, 'data-toggle' => 'tab', :remote => true %></li>
              <li><%= link_to "Biography", artist_path(@artist), 'data-toggle' => 'tab', :remote => true %></li>
              <li>
                <a href="mixes" data-toggle="tab">Mixes</a>
              </li>
              <li>
                <a href="BTM" data-toggle="tab">BTM (Behind The Music)</a>
              </li>
            </ul>
          </header>
          <div class="body tab-content">
            <div id="Albums" class="tab-pane active clearfix"></div>
            <div id="Biography" class="tab-pane"></div>
            <div id="BTM" class="tab-pane"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $.ajax({
      type: "GET",
      url: location.href + "/albums",
      cache: false,
      success: function(data){
        // $("#Albums").append(html);
      }
  });
</script>

