<%# binding.pry %>
<!-- <div class="wrap"> -->

    
    <div class="content container-fluid" style="position: relative; z-index: 3">
        <div class="row-fluid">
            <div class="span2">
                <!-- <section class="widget large"> -->
                    <!-- <div class="body"> -->
                        <!-- <div id="sources-chart-pie" class="chart pie-chart"> -->
                            <!-- <ul class="thumbnails"> -->
                              <!-- <li class="span4"> -->
                              <a href='<%= artist_path(artist.id) %>'>
                                <div class="thumbnail">
                                  <img src="<%= album.image %>" alt="">
                                 </div>
                               </a>
                              <!-- </li> -->
                            <!-- </ul> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </section> -->
            </div>
            <!-- <li class="divider"></li> -->
            
            <div class="span9">
                <section class="widget">
                    <header>
                      <header>
                          <h2 class="page-title"><%= album.name %></h2>
                      </header>
                    </header>
                    <div class="body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                              <th>#</th>
                              <th>Title</th>
                              <th>Featured Artist</th>
                              <th>Length</th>
                              <th>Size</th>
                              <th></th>
                              <th></th>
                            </tr>
                            </thead>
                            <% album.tracks.each do |t| %>
                            <tbody>
                            <tr>
                              <td><%= t.track_number.to_s.rjust(2, '0') %></td>
                              <td><%= t.title %></td>
                              <td><%= t.artists.map{ |a| [a][0].name }.join(", ") %></td>
                              <td id="time"><%= "#{((t.length) / 60)}:""#{(t.length % 60).to_s.rjust(2, '0')}" %><span class="duration"></span></td>
                              <td><%= "#{t.size} MB" %></td>
                              <td>
                                <div class="btn-group btn-group-hover pull-left" data-id="<%= t.id%>" data-url="<%= t.track_path%>">
                                  <a class="btn btn-mini icon-play"></a>
                                  <a class="btn btn-mini icon-volume-up"></a>
                                  <a class="btn btn-mini icon-trash"></a>
                                </div>
                              </td>
                              <td><%= rating_for t, "sound" %></td>
                              <td></td>
                              <%# binding.pry %>
                            </tr>
                            </tbody>
                            <% end %>
                        </table>

                   <!-- Vertical Slider -->
                  <h2>Vertical Slider</h2>
                  <div class="row-fluid">
                      <div class="span4">
                          <p class="state-default corner-all helper-clearfix" style="padding:4px;">
                          <span class="icon icon-volume-up" style="float:left; margin:-2px 5px 0 0;"></span>
                          Master volume
                          </p>
                          <p>
                            <label for="amount">Volume:</label>
                            <input type="text" id="amount" />
                          </p>
                      </div>
                      <div class="span6">
                          <div id="v-slider" style="height:200px;"></div>
                      </div>
                  </div>

              </section>
              <!--end slider-->


                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- </div> -->


