<!DOCTYPE html>
<html>
<head>
  <title>MusicV20</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="logo">
    <h2><a href="<%= root_path %>"><strong>MusicalElement</strong></a></h2>
</div>

<!-- div for the background wall -->
<!-- <div id="viewport">
  <div id="wall"></div>
</div> -->




<script>
  $(document).ready(function(){
    soundManager.setup({
      url: '/swf/',
      flashVersion: 9,
      onready: function() {
      }
    });
  });
</script>

  <body class="background-dark">

    <% if user_signed_in? %>
      <%= render :partial => 'home/sidebar' %>      
    <% else %>
      <%= render :partial => 'home/guestsidebar' %>
    <% end %>

    <div class="wrap">
      <%= render :partial => 'home/topnav' %>
      <div class="content container-fluid">

        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog">
          <%= render :partial => 'home/modal' %>
        </div>
        <!-- <div class="row-fluid"> -->


    <!-- top bar nav start -->
    <!-- top bar nav end -->

    <%= render :partial => 'home/playlist' %>



     <%= render :partial => 'home/player' %>
  <!-- <p class="alert"><%= alert %></p> -->
    <%#= render :partial => 'home/playlist' %>
    <%= yield %>
      <!-- </div> -->
    </div>
  </div>

  </body>

  


</html>
