<!DOCTYPE html>
<html>
<head>
  <title>MusicV20</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="logo">
    <h2><a href="<%= root_path %>"><strong>MusicalElement</strong></a></h2>
</div>

<!-- div for the background wall -->
<!-- <div id="viewport">
  <div id="wall"></div>
</div> -->


<% if user_signed_in? %>
<!-- side bar nav start -->
  <%= render :partial => 'home/sidebar' %>
<!-- side bar nav end -->

<!-- top bar nav start -->
  <%= render :partial => 'home/topnav' %>
<!-- top bar nav end -->

<%#= render :partial => 'home/playlist' %>

<% else %>
  <%= render :partial => 'home/guestsidebar' %>
<% end %>


 <%= render :partial => 'home/player' %>

<script>
  $(document).ready(function(){
    soundManager.setup({
      url: '/swf/',
      flashVersion: 9,
      onready: function() {
      }
    });
  });
</script>

  <body class="background-dark">
  <!-- <p class="alert"><%= alert %></p> -->
    <%= yield %>

  </body>

  <%= render :partial => 'home/playlist' %>
  


</html>
